{% block content %}

{% for blog in blogs %}

<div class="blog-list">
    {% if blog.id %}
    <a href="{% url 'blog_detail' blog.id %}" class="text-decoration-none d-flex">
    {% endif %}
        <div class="card">
            <div class="card-body">
                <div class="blog">
                    <h3 class="card-title">{{ blog.title }}</h3>
                    <p class="card-text">{{ blog.description|truncatewords:30 }}...</p>
                </div>
                <div class="author">
                    {% for author in blog.authors.all %}
                    <a href="{% url 'author_profile' author.id %}">
                            <img src="{{ author.avatar.url }}" alt="{{ author.name }}" style="width: 2.5em; height: 2.5em; border-radius: 100%;">
                            <span>{{ author.name }}</span>
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </a>
    {% if is_author %}
    <a href="{% url 'delete_blog' blog.id %}" class="delete">Delete blog</a>
    {% endif %}
</div>

{% endfor %}

{% endblock %}
