{% block content %}

{% for book in books %}

<div class="d-flex col-md-4 mb-4 flex-wrap">
    {% if book.id %}
    <a href="{% url 'blog_detail' book.id %}" class="text-decoration-none d-flex">
    {% endif %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.description }}</p>
                <div class="author">
                    <!-- Loop through the authors of the current book -->
                    {% for author in book.authors.all %}
                        <a href="{% url 'author_profile' author.id %}">
                            <img src="{{ author.avatar.url }}" alt="{{ author.name }}" style="width: 2.5em; height: 2.5em; border-radius: 100%;">
                            <span>{{ author.name }}</span>
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'delete_blog' book.id %}" class="delete">Delete blog</a>
</div>

{% endfor %}

{% include 'blogs/paginator.html' %}
{% endblock %}
