{% extends 'index.html' %}

{% block title %} <title>Delete Book</title> {% endblock %}

{% block content %}
<div class="delete-container">

         <form method="POST" action="" class="delete_item-form">
            {% csrf_token %}
              <p>
                R U sure, you want to delete This Item ?
              </p>
              <h4>{{book.title}}</h4>
              <input type="submit" class="add-file-btn" value="Delete">
        </form>
       
        <a href="{% url 'home' %}" class="go-back">
        
            Go Back
        </a>
</div>       
{% endblock %}