{% extends 'index.html' %}

{% load static %}

{% block title %} Blogs {% endblock %}

{% block content %}


<div class="container d-flex flex-wrap">
    <div class="">
    {% for genre in genres %}
    <a href="{{ request.path }}?query={{ genre }}">
      <h5> {{ genre }}  {{ genre.count }} </h5>
    </a>
    
  {% endfor %}
  <a href="{{ request.path }}">
    <h5> All </h5>
</a>
</div>
<a href="{% url 'add_book' %}" type="button" class=" btn btn-primar text-decoration-none d-flex"> Add New Book</a>

{% include 'blogs/book_list.html' %}

</div>
{% endblock %}