{% extends 'index.html' %}

{% load static %}

{% block title %} Blogs {% endblock %}

{% block content %}



<div class="forms-container">
  <div class="">
    <form method="GET" class="search-form">
      <input type="text" name="query" placeholder="Search blogs..." value="{{ request.GET.query }}">
      <button type="submit"><span class="material-icons md-light">search</span> Search</button>
    </form>
  </div>
</div>

{% include 'blogs/blog_list.html' %}

{% include 'blogs/paginator.html' %}


{% if request.user.is_authenticated %}
<h3>Add a new blog</h3>
<form method="POST" enctype="multipart/form-data" class="new-blog-form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add Blog</button>
</form>
{% endif %}

</div>
{% endblock %}