{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    
    <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><h2>Books</h2></a>
    <ul class="d-flex m-5 ">
        {% if request.user.is_authenticated %}
    
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'logout'%}">LogOut</a>
        </li>
        <li> <a href="{% url 'password_change' %}">Change Password</a></li>
       {% else %}
        <li class="nav-item mx-5 ">
        <a class="nav-link active" aria-current="page" href="{% url 'login'%}">LogIn</a>
        </li>
        <li class="nav-item mx-5">
            <a class="nav-link active" aria-current="page" href="{% url 'register'%}">Register</a>
        </li>
     
     
      
  {% endif %}

  <div class="dropdown">
    <div class="">

      <a href="{% if request.user.is_authenticated %}{% url 'profile' request.user.id %}{% else %}# {% endif %}">
        Profile
      <img src="{{ request.user.author.avatar.url }}" alt="" style="width: 2.5em; height: 2.5em; border-radius: 100%;">
    </a>  
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
      <p>{{request.user.username}} <span class="material-icons md-light">arrow_drop_down</span> </p>
    </a>

  
  </div>
    </ul>
    <form class="d-flex" role="search">
      <input name = "query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </nav>