.header-nav{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(180deg,  #1a2c54 0%, #2e0f38 100%  );
    width: 100%;
    box-shadow: #190121 5px 5px 5px;
    z-index: 5000;
    align-items: center;
}
a {
    cursor: pointer !important;
}
.dropdown-menu {
    display: none;
}
.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.dropdown a {
    padding:1em;
}
.profile {
    padding: 0 1em;
}

.prof{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 5px;
}

.prof span:hover {
    color: #96bccb;
    border-bottom: 1px solid #96bccb;
}

.dropdown-menu.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    height: 50%;
}

a {
    all: unset;
}
.dropdown-menu.active a {
    color: #78a1fa;
}

#add-new-blog-btn{
    width: 50%;
    height: 50px;
    border: 1px solid gray;
    background-color: rgba(127, 255, 212, 0.184) !important;
    color: #190121;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 30px;
}

.card{
    height: 100% !important;
    justify-content: space-between;
}
.blog-list {
    flex-direction: column;
    width: 80%;
    padding: 15px 0;
}

li {
    all: unset;
}

.footer-nav ul{
    width: 100vw;
}

.profile-settings{
    display: flex;
    flex-direction: column;
}
.forms-container {
    width: 100vw !important;
    background-color: #511a545c;
    padding: 10px;
    margin: 0;
}
.search-form{
    width: 90vw;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search-form input {
    width: 90%;
    border: 1px solid rgba(245, 222, 179, 0.248);
    border-radius: 10px;
    padding: 1em;
}
.search-form button , 
button{
    border: 1px solid rgba(245, 222, 179, 0.248);
    border-radius: 10px;
    padding: 1em;
    background-color: #1a2c545e;
    display: inline-flex;
    transition: 0.3 ease-in;
    
}
button:hover{
    background-color: #526a9f79;
    
}

.new-blog-form {
    border: 1px solid rgba(245, 222, 179, 0.248);
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    background-color: #2a457f56;
}

.new-blog-form input, textarea {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 10vh;
    border: 1px solid rgba(245, 222, 179, 0.248);
    border-radius: 10px;
}
.new-blog-form input{
    width: 40vw;
    height: 50px;
}
.my-blog-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.my_blogs {

    border: 1px solid rgba(245, 222, 179, 0.39);
    border-radius: 10px;
    padding: 1em 5em;
    margin-bottom: 1em;
    cursor: pointer;
}
h1{
    text-align: center;
}

.change_password{
    background-color: #38476877;
    border-radius: 10px;
    width: 10;
    height: 10%;
    padding: 1em 0;
}
.profile-container{
    display: flex;
    padding: 2em 5em;
    justify-content: space-between;
}

.profile-settings-profile{
    width: 20vw;
    
}

.comment-info {
    background-color: #465d8f3b;
    padding: 1em 2em;
    border: 1px solid rgba(245, 222, 179, 0.107);
    border-radius: 10px;
}

.author {
    padding: 1em ;
    border-top: 1px solid rgba(245, 222, 179, 0.237);
}

.blog{
    padding: 2em 1em;
}